

        <div class="form-box" id="login-box">
            <div class="header">Lost Password</div>
            <form action="../../index.html" method="post">
                <div class="body bg-gray">
                    <div class="form-group">
                        <input type="text" name="email" class="form-control" placeholder="E-mail"/>
                    </div>
                    <button type="submit" class="btn bg-olive btn-block">Send</button>
                </div>                
            </form>
            
        </div>

        